<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index</title>
</head>
<body>
    <h1>Welcome</h1>
    <!--<th:block th:if="${message}">-->
    <th:block th:unless="!${message}">
        <h2 th:utext="${message}">..!..</h2>
    </th:block>
    <h3 th:utext="${variables}"></h3>
    <div th:with="first ='Quang Nam'">
        <h4 th:utext="${first}"></h4>
    </div>
    <div>
        <h3 th:utext="${1 > 2}?'Anh Duy':'Duy Nguyen'"></h3>
    </div>
    <th:block th:with="intArr=${1}">
        <div th:switch="${intArr}">
            <p th:case="1">Quang Nam Viet Nam</p>
            <p th:case="*">Ho le</p>
        </div>
    </th:block>
    <a th:href="@{/person-list}">Person List</a >

    <h3>#locale</h3>
    <p th:utext="${#locale.country}"></p>
    <p th:utext="${#locale.language}"></p>

    <h3>#request</h3>
    <p th:utext="${#request.contextPath}"></p>
    <p th:utext="${#request.requestURL}"></p>
    <p th:utext="${#request.requestURI}"></p>

    <th:block th:if="${!#lists.isEmpty(list)}">
        <p th:utext="${#lists.size(list)}"></p>
        <ul>
            <li th:each="i: ${#lists.sort(list)}" th:utext="${i}"></li>
        </ul>
        <select>
            <option th:each="list: ${list}" th:utext="${list}"></option>
        </select>
    </th:block>
</body>
</html>