<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank</title>
</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Send Money</h2>
<ul th:if="${accountInfos}">
    <li th:each="acc : ${accountInfos}" th:utext="${acc.id} + ' ' + ${acc.full_name} + ' ' + ${acc.balance}"></li>
</ul>
<!--

<div th:if="${errorMessage!=null}"
     style="color:red;font-style:italic" th:utext="${errorMessage}">..</div>
-->

<form th:action="@{/send-money}" th:object="${sendMoney}" method="POST">
    <table>

        <tr>
            <td>From Bank Account Id</td>
            <td><input type="number" th:field="*{fromId}" /></td>
        </tr>
        <tr>
            <td>To Bank Account Id</td>
            <td><input type="number" th:field="*{toId}" /></td>
        </tr>
        <tr>
            <td>Amount</td>
            <td><input type="number" th:field="*{amount}" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Send"/></td>
        </tr>
    </table>
</form>

</body>
</html>